# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

nbproject/
.svn/
api/gen/
web/fts/*
!web/fts/nobody*.gif
42/
.DS_Store
.idea/
*.iml
proxies/*
vendor/
composer.phar
common/config.inc.php
cache/
