Options -MultiViews
RewriteEngine On

# Add trailing slash
# RewriteCond %{REQUEST_URI} !(/$|\.)
# RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

# Hide .git
RedirectMatch 404 /\.git

# Force HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !=on
RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,QSA]

# Home view
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule ^$ views/index.php [L,QSA]

# Rewrite views
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule ^([^/.]+)/?$ views/$1.php [L,QSA]

# Rewrite views with ID
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule ^([^/.]+)/([^/.?&]+)/?$ views/$1.php?id=$2 [L,QSA]
